body {
    background-color: black;
    font-family: monospace;
    margin: 30px auto 0 auto; 
    max-width: 600px;
    padding: 0 16px;      
    box-sizing: border-box;
}
h2{
    color: green;
}
h3{
    color: white;
}
p{
    color:white;
}
a{
    color:white;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.apod {
    width: 100%;
    max-width: 300px;
    height: auto;       
    object-fit: cover;
    display: block;
    border: 2px solid white;
    margin: 0 auto;
}
.no-border {
    border: none;
}
html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}
